{% extends 'quotes/base.html' %}

{% load static %}

{% block content %}

<main id="main">

    <div class="container">

        <div class="row topspace">
            <h2 class="section-title">
                {{ author.first_name }}
                {% if author.last_name %}
                {{ author.last_name }}
                {% endif %}
            </h2>
            <!-- Sidebar -->
            <aside class="col-md-4 sidebar sidebar-left">

                <div class="row widget">
                    <div class="col-xs-12">
                        <h4>LIFE</h4>
                        <p>{{ author.born_date }} - {{ author.dead_date }}</p>
                    </div>
                </div>
                <div class="row widget">
                    <div class="col-xs-12">
                        <p><img src="{% if author.foto %}
                                            {{ author.foto.url }}
                                     {% else %} {% static 'quotes/images/No_picture_available.png'%}
                                     {% endif %}"
                                alt="{{ author.first_name }} {{ author.last_name }}">
                        </p>
                    </div>
                </div>
                <div class="row widget">
                    <div class="col-xs-12">
                        <h4>PROFESION</h4>
                        <p>{{ author.profesion }}</p>
                    </div>
                </div>
                <div class="row widget">
                    <div class="col-xs-12">
                        <h4>NATIONALITY</h4>
                        <p>{{ author.nationality }}</p>
                    </div>
                </div>
            </aside>            <!-- /Sidebar -->

            <!-- Article main content -->
            <article class="col-sm-8 maincontent">
                <p>{{ author.description }}
                </p>
                <h2 class="section-title"><span>Quotes</span></h2>

                {% for quote in two_quotes %}

                <p><a href="">{{ quote.topic }}</a></p>
                <blockquote>{{ quote.quote }}</blockquote>

                {% endfor %}

            </article>
            <!-- /Article -->
        </div>
    </div>    <!-- /container -->

</main>

{% endblock content %}