{% extends 'quotes/base.html' %}

{% load static %}

{% block content %}

<main id="main">

    <div class="container">

        <div class="row topspace">
            <h2 class="section-title">Marcus Aureliuswas</h2>
            <!-- Sidebar -->
            <aside class="col-md-4 sidebar sidebar-left">

                <div class="row widget">
                    <div class="col-xs-12">
                        <h4>LIFE</h4>
                        <p>The data of born and dead</p>
                    </div>
                </div>
                <div class="row widget">
                    <div class="col-xs-12">
                        <p><img src="assets/images/s1.jpg"
                                alt="need load image"></p>
                    </div>
                </div>
                <div class="row widget">
                    <div class="col-xs-12">
                        <h4>PROFESION</h4>
                        <p>politican</p>
                    </div>
                </div>
                <div class="row widget">
                    <div class="col-xs-12">
                        <h4>NATIONALITY</h4>
                        <p>Italian</p>
                    </div>
                </div>


            </aside>            <!-- /Sidebar -->

            <!-- Article main content -->
            <article class="col-sm-8 maincontent">
                <p>Marcus Aureliuswas Roman Emperor from 161 to 180. He ruled
                    with Lucius Verus as co-emperor from 161 until Verus' death
                    in 169. Marcus Aurelius was the last of the so-called Five
                    Good Emperors. He was a practitioner of Stoicism, and his
                    untitled writing, commonly known as the Meditations of
                    Marcus Aurelius, is the most significant source of our
                    modern understanding of ancient Stoic philosophy
                </p>
                <h2 class="section-title"><span>Quotes</span></h2>

                <p><a href="">Happines</a></p>
                <blockquote>Very little is needed to make a happy life; it is
                    all within yourself, in your way of thinking.
                </blockquote>

                <p><a href="">Inspiration</a></p>
                <blockquote>You have power over your mind - not outside events.
                    Realize this, and you will find strength.
                </blockquote>

            </article>
            <!-- /Article -->


        </div>
    </div>    <!-- /container -->

</main>

{% endblock content %}