{% extends 'quotes/base.html' %}

{% load static %}

{% block content %}

<main id="main">

    <div class="container">

        <div class="row topspace">

            <!-- Sidebar -->
            <!--Pagination -->
            <center class="">
			<ul class="pagination">
				<li class="disabled"><a href="">&laquo;</a></li>
				<li class="active"><a href="">A</a></li>
				<li><a href="">B</a></li>
				<li><a href="">C</a></li>
				<li><a href="">D</a></li>
				<li><a href="">E</a></li>
				<li><a href="">&raquo;</a></li>
			</ul>
		    <!-- End Pagination -->

			<div class="thumbnails recentworks row">

				<div class="col-xs-9 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" href="sidebar-right.html">
						<span class="img">
							<img src="assets/images/s1.jpg" alt="">
						</span>
						<span class="title">Aristotle</span>
					</a>
					<p class="text-center"><a href="" class="btn btn-action">Read more</a></p>
					<h4></h4>
					<p></p>
				</div>

				<div class="col-xs-9 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" href="sidebar-right.html">
						<span class="img">
							<img src="assets/images/s1.jpg" alt="">
						</span>
						<span class="title">Abraham Lincoln</span>
					</a>
					<p class="text-center"><a href="" class="btn btn-action">Read more</a></p>
					<h4></h4>
					<p></p>
				</div>

				<div class="col-xs-9 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" href="sidebar-right.html">
						<span class="img">
							<img src="assets/images/s1.jpg" alt="">
						</span>
						<span class="title">Buddha</span>
					</a>
					<p class="text-center"><a href="" class="btn btn-action">Read more</a></p>
					<h4></h4>
					<p></p>
				</div>

				<div class="col-xs-9 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" href="sidebar-right.html">
						<span class="img">
							<img src="assets/images/s1.jpg" alt="">
						</span>
						<span class="title">Winston Churchill</span>
					</a>
					<p class="text-center"><a href="" class="btn btn-action">Read more</a></p>
					<h4></h4>
					<p></p>
				</div>
            <!-- /Article -->


        </div>
    </div>    <!-- /container -->

</main>

{% endblock content %}
