{% extends 'quotes/base.html' %}

{% load static %}

{% block content %}

<main id="main">

    <div class="container">

        <div class="row section featured topspace">
            <h2 class="section-title"><span>Discovered authors </span></h2>
            {% if autors_list %}
                {% for autor in autors_list %}
                <div class="col-sm-6 col-lg-1">
                    <a class="index-topic" href="{% url 'autor' autor.slug %}">
                            <span class="img">
                                <img src="{% if autor.foto %}
                                                {{ autor.foto.url }}
                                         {% else %} {% static 'quotes/images/No_picture_available.png'%}
                                         {% endif %}" alt="">
                            </span>
                        <span class="title">
                                {{ autor.first_name }}
                                {% if autor.last_name %}
                                {{ autor.last_name }}
                                {% endif %}
                            </span>

                    </a>
                </div>
                {% endfor %}
            {% endif %}


            <div class="row section featured topspace">
                <h2 class="section-title">
                    <span>Discovered tags & topics</span></h2>
                <!--{% for quote in topics_list %}-->
                <!--<p><a href="{% url 'topic_quotes' quote.topic.slug %}">-->
                    <!--{{ quote.topic }}</a></p>-->
                <!--<blockquote>{{ quote.quote }}</blockquote>-->

                <!--<div class="col-sm-6 col-lg-1">-->
                    <!--<a class="index-topic" href="{% url 'autor' quote.autor.slug %}">-->
						<!--<span class="img">-->
							<!--<img src="{% if quote.autor.foto %}-->
                                            <!--{{ quote.autor.foto.url }}-->
                                     <!--{% else %} {% static 'quotes/images/No_picture_available.png'%}-->
                                     <!--{% endif %}" alt="">-->
						<!--</span>-->
                        <!--<span class="title">-->
							<!--{{ quote.autor.first_name }}-->
                			<!--{% if quote.autor.last_name %}-->
                			<!--{{ quote.autor.last_name }}-->
                			<!--{% endif %}-->
						<!--</span>-->

                    <!--</a>-->
                <!--</div>-->

                <!--</div>-->
                <!--{% endfor %}-->

            </div> <!-- / section -->

        </div>
    </div>

</main>


{% endblock content %}