{% extends 'quotes/base.html' %}

{% load static %}

{% block content %}

<main id="main">

    <div class="container">

        <div class="row topspace">

            <!-- Article main content -->
            <article class="col-sm-12 maincontent">
                <h2 class="section-title"><span>Happines</span></h2>
                <div class="col-sm-4 col-md-3">
                    <p><a href="">Marcus Aureliuswas</a></p>
                    <blockquote>Very little is needed to make a happy life; it is
                        all within yourself, in your way of thinking.
                    </blockquote>
                </div>
                <div class="col-sm-4 col-md-3">
                    <p><a href="">Elisabeth Cuber-Ross </a></p>
                    <blockquote>The opinion which other people have of you is their problem, not yours.</blockquote>
                </div>
                <div class="col-sm-4 col-md-3">
                    <p><a href="">Marcus Aureliuswas</a></p>
                    <blockquote>Very little is needed to make a happy life; it is
                        all within yourself, in your way of thinking.
                    </blockquote>
                </div>
                <div class="col-sm-4 col-md-3">
                    <p><a href="">Elisabeth Cuber-Ross </a></p>
                    <blockquote>The opinion which other people have of you is their problem, not yours.</blockquote>
                </div>
                <div class="col-sm-4 col-md-3">
                    <p><a href="">Marcus Aureliuswas</a></p>
                    <blockquote>Very little is needed to make a happy life; it is
                        all within yourself, in your way of thinking.
                    </blockquote>
                </div>
                <div class="col-sm-4 col-md-3">
                    <p><a href="">Elisabeth Cuber-Ross </a></p>
                    <blockquote>The opinion which other people have of you is their problem, not yours.</blockquote>
                </div>
            </article>
            <!-- /Article -->


        </div>
    </div>    <!-- /container -->

</main>

{% endblock content %}