{% extends 'quotes/base.html' %}

{% load static %}

{% block content %}

<main id="main">
    <div class="container">
        <div class="row topspace">
            <!-- Article main content -->
            <article class="col-sm-12 maincontent">
                <h2 class="section-title"><span>{{ topic_category.topic }}</span></h2>
                {% for unit in quote_list %}
                <div class="col-sm-4 col-md-3">
                    <p><a href="{% url 'autor' unit.author.slug %}">
                        {{ unit.author }} </a></p>
                    <blockquote>
                        {{ unit.quote }}
                    </blockquote>
                </div>
                {% endfor %}
            </article>
            <!-- /Article -->
        </div>
    </div>
</main>

{% endblock content %}