.topspace {
 text-align: center;
}

.text-center-autors {
  display: inline-block;
  margin: 15px;
}

.thumbnail-autors {
    display: block;
    height: 250px;
    margin: 0 0 60px;
    position: relative;
}

.topspace {
    margin-top: 20px;
}


