form {
    position: left;
}

.form-control {
    display: block;
    width: inherit;

}

.topspace {
 text-align: center;
}

.text-center-autors {
  display: inline-block;
  margin: 15px;
}

.thumbnail-autors {
    display: block;
    height: 150px;
    margin: 0 0 60px;
    position: relative;
}

.topspace {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group index {
    display:inline-block;
    position: left;
}
.btn-action index {
    text-align: center;
    border: 0 0 0 0;
}

.index-topic {
    display: inline-block;


}
.btn {
    border: 2px;
    border-radius: 5px;
    border-color: gray;
    background-color: #428bca;
}
/*
.form-inline .form-control {
    width: 1200px
}
*/
.form-group {
    margin: auto;
}

.img_simple_topic {
    max-width: 25%;
    float: right;
}

.local_quote {
    display: flex;
    flex-wrap: wrap;
}

[class*=" local_quote col-"] {
  margin-bottom: 30px;
}

.local_quote_content {
  height: 100%;
  padding: 20px 20px 10px;
}

p .local_quote_content{
    float: right;
    margin: 0 0 5px 5px;
}

.simple-topic{
    height: 200px;
}
.local_quote autor{
    display:center;
    padding: 10px;
}